.container {
    color: white;
    background-color: #1c1c21;
    border-radius: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.date {
    color: #8585ad;
}

.details {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    display: flex;
    flex-direction: row-reverse;
}

.ingredientIconContainer {
    position: relative;
    width: 48px;
    list-style-type: none;
}

.ingredientIcon {
    width: 64px;
    height: 64px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);

    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredientIconBack {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #131316;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredientIconImg {
    height: 56px;
}