html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 600px;
  /* height: 100%; */
  /* height: 912px; */
}


/* W3C standard
   сейчас только для Firefox */
.custom_scroll {
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}

/* для Chrome/Edge/Safari */
.custom_scroll::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #2F2F37;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 5px;
  border: 3px solid #2F2F37;
}