.container {}

.title {
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.tabs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box {
    height: 716px;
    overflow-y: scroll;
}